name: Orquestrador CI/CD

on:
  workflow_dispatch:
    inputs:
      tipo-prompt:
        description: "Qual prompt deseja usar?"
        required: true
        type: choice
        options:
          - robot
          - playwright
        default: robot

      criacao-user-stories:
        description: "Criar user stories?"
        type: boolean
        required: true
        default: false

      test-api:
        description: "Testar api"
        type: boolean
        required: true
        default: true

      criacao-bdd:
        description: "Criação dos BDDs?"
        type: boolean
        required: true
        default: false

      criacao-testes:
        description: "Criar testes?"
        type: boolean
        required: true
        default: false

      execucao-testes:
        description: "Executar testes?"
        type: boolean
        required: true
        default: false

      execucao-testes-de-carga:
        description: "Executar testes de carga?"
        type: boolean
        required: true
        default: false

permissions:
  contents: write
  pull-requests: write
  actions: write
  issues: write

jobs:
  test-api:
    if: ${{ inputs.test-api }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositório
        uses: actions/checkout@v4
        with:
          repository: pj-integration-agent/automation
          ref: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
          pip install groq

      - name: Testar API (GROQ)
        run: python ai/generate/test-api.py
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}

  user-stories:
    if: ${{ inputs.criacao-user-stories }}
    needs: test-api
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-user-stories.yaml@main
    secrets: inherit

  bdd:
    if: ${{ inputs.criacao-bdd }}
    needs: user-stories
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-bdd.yaml@main
    secrets: inherit

  testes:
    if: ${{ inputs.criacao-testes }}
    needs: bdd
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-testes.yaml@main
    secrets: inherit
    with:
      tipo-prompt: ${{ inputs.tipo-prompt }}

  executar-testes:
    if: ${{ inputs.execucao-testes }}
    uses: pj-integration-agent/reusable-workflows/.github/workflows/execucao-testes.yaml@main
    secrets: inherit

  execucao-testes-de-carga:
    if: ${{ inputs.execucao-testes-de-carga }}
    uses: pj-integration-agent/automation/.github/workflows/stress-test.yaml@main
    secrets: inherit
