name: Orquestrador CI/CD

on:
  workflow_dispatch:
    inputs:

      tipo-prompt:
        description: "Qual prompt deseja usar?"
        required: true
        type: choice
        options:
          - robot
          - playwright
        default: robot

      criacao-user-stories:
        description: "Criar user stories?"
        type: boolean
        required: true
        default: true

      criacao-bdd:
        description: "Criação dos BDDs?"
        type: boolean
        required: true
        default: false

      criacao-testes:
        description: "Criar testes?"
        type: boolean
        required: true
        default: false

permissions:
  contents: write
  pull-requests: write

jobs:
  user-stories:
    if: ${{ inputs.criacao-user-stories }}
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-user-stories.yaml@main
    secrets: inherit

  bdd:
    if: ${{ inputs.criacao-bdd }}
    needs: user-stories
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-bdd.yaml@main
    secrets: inherit

  testes:
    if: ${{ inputs.criacao-testes }}
    needs: bdd
    uses: pj-integration-agent/reusable-workflows/.github/workflows/criacao-testes.yaml@main
    secrets: inherit
