name: JMeter Load Test

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write 

jobs:
  load_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Instalar Java e Python
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre python3 python3-pip

      - name: Instalar dependências Python
        run: |
          pip3 install groq

      - name: Instalar JMeter
        run: |
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz

      - name: Criar diretórios
        run: mkdir -p results ai/analysis

      - name: Executar JMeter
        run: |
          apache-jmeter-5.6.3/bin/jmeter \
            -n \
            -t stress/stress-test.jmx \
            -l results/resultado.jtl

      - name: Gerar análise de stress com IA (Groq)
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: |
          python3 ai/generate/generate_analise_stress_test.py

      - name: Commit e push da análise
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git pull
          git add ai/analysis/stress_analysis.txt
          git commit -m "Análise automática dos resultados do stress-test (Groq)"
          git push 
