name: JMeter Load Test

on:
  push:
    branches:
      - stress-test


jobs:
  load_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz

      - name: Criar diretórios de resultados
        run: mkdir -p results

      - name: Executar JMeter
        run: |
          apache-jmeter-5.6.3/bin/jmeter \
            -n \
            -t stress/stress-test.jmx \
            -l results/resultado.jtl \
            -e -o results/report

      - name: Salvar relatórios como artefato
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-report
          path: results/report
